[data-aos="rotate-right"] {
  transform: rotate(30deg);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos="rotate-right"].aos-animate {
  transform: rotate(0deg);
  opacity: 1;
}

[data-aos="rotate-left"] {
  transform: rotate(-30deg);
  opacity: 0;
  transition-property: transform, opacity;
}
[data-aos="rotate-left"].aos-animate {
  transform: rotate(0deg);
  opacity: 1;
}
