@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  @apply bg-bodyBg text-bodyText;
  max-width: 100dvw;
  min-height: 100dvh;
}

img {
  width: 100%;
}
